QWidget {
    font-family: monospace;
}

QPushButton {
    background-color: red;
}

/*ClickShapeWidget {*/
/*    background-color: #beb697;*/
/*    border: 1px solid black;*/
/*}*/

ClickShapeWidget {
    background: url(../images/pool_tile.jpg) stretch stretch center center;
    border: 1px solid black;
    border-radius: 5px;
}

ClickShapeWidget:hover {
    background-color: #ada586;
}

QMenuBar, QMenu {
    font-family: "monospace";
}

/*QGroupBox {*/
/*    background-color: #ded697;*/
/*}*/

#placeModeButton {
    background-color: #22dd11;
}

#selectModeButton {
    background-color: #1122dd;
}
